<!DOCTYPE html>
<html>
<body>

<h2>Vignere Encryption By H.Hemanth (18BEC1059)</h2>

<form action="" method=post>
  <label for="data">Data:</label><br>
  <input type="text" id="data" name="data"><br>
  <label for="key">Key:</label><br>
  <input type="text" id="key" name="key"><br><br>
  <input type="radio" id="encrypt" name="option" value="encrypt">
  <label for="html">Encrypt</label>
  <input type="radio" id="decrypt" name="option" value="decrypt">
  <label for="css">Decrypt</label><br>
  <input type="submit" value="Submit">
</form> 



</body>
</html>